<h1 class='contact-header'>Contact Us</h1>
<div id="contact" class="page-container contact-page"></div>

<script>
	require(
        [
			'heartwood/widgets/contact'
        ],
        function () {
        	'use strict';
        });
</script>