@{
    ViewBag.Title = "Coming Soon";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - HeartwoodTrees</title>
	<link href="~/Content/Styles/heartwoodtrees.css" rel="stylesheet" />
    <script src="~/Content/Scripts/lib/jquery/jquery.min.js"></script>
	<script src="~/Content/Scripts/lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<h1>Heartwood Trees Ltd website coming soon</h1>
		<p>A new and exciting website will be coming early 2015.</p>
		<p>In the meantime please feel free to contact one of the team at <a href="mailto:heartwoodtreesltd@gmail.com" target="_top">heartwoodtreesltd@gmail.com</a> or call us on (09) 6208494.</p>
		<p><a class="btn btn-primary btn-lg" href="http://www.nocowboys.co.nz/businesses/heartwood-treecare" role="button">Read some reviews</a></p>
	</div>
</body>
</html>