@{
	ViewBag.Title = "Services";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Tree Removals</h2>
            <p>
                Tree removals of every size. We will always take great care not to damage any property and our team...  will always take great care not to damag will always take great care not to damag
            </p>
        </div>
		<div class="col-md-4">
			<h2>Tree Pruning</h2>
			<p>
				Tree removals of every size. We will always take great care not to damage any property and our team...  will always take great care not to damag will always take great care not to damag
			</p>
		</div>
		<div class="col-md-4">
			<h2>Hegdes</h2>
			<p>
				Tree removals of every size. We will always take great care not to damage any property and our team...  will always take great care not to damag will always take great care not to damag
			</p>
		</div>
    </div>
	<div class="row">
		<div class="col-md-4">
			<h2>Chipping</h2>
			<p>
				Tree removals of every size. We will always take great care not to damage any property and our team...  will always take great care not to damag will always take great care not to damag
			</p>
		</div>
		<div class="col-md-4">
			<h2>Tree Inspection</h2>
			<p>
				Tree removals of every size. We will always take great care not to damage any property and our team...  will always take great care not to damag will always take great care not to damag
			</p>
		</div>
		<div class="col-md-4">
			<h2>Thinning for light</h2>
			<p>
				Tree removals of every size. We will always take great care not to damage any property and our team...  will always take great care not to damag will always take great care not to damag
			</p>
		</div>
	</div>
</div>